<%= javascript_include_tag "websocket_rails/main" %>
<%= javascript_include_tag "websocket" %>

<div id="buttons" class="row">
  <div class="col-6">
  	<div id="num">0</div>
  </div>
  <div class="col-6">
  	<div id="button" onclick="ff();">+1</div>
  </div>
</div>