<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= javascript_include_tag "chart" %>

<div id="chart_div" style="width: 100%; height: 512px;"></div>
<!-- <div id="dateformat_div" style="width: 600px; height: 200px;"></div> -->
