<h1>Roots#index</h1>
<p>Find me in app/views/roots/index.html.erb</p>
<%= javascript_include_tag "websocket_rails/main" %>
<%= javascript_include_tag "websocket" %>

<div id="section">
  <div id="num">0</div>
  <div id="button" onclick="ff();">Click</div>
</div>
