// Place all the styles related to the Websocket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
	margin:0;
	padding:0;
}

#num{
	font-size:72px;
	background:#cecece;
}

#button{
	padding:20px;
	background:#fff;
}

#button:hover{
	background:#f0f0f0;
}

#section{
	border:2px solid #cecece;
	margin:30px;
	text-align:center
}